@import "~bootstrap/scss/bootstrap.scss";

.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 5;
    }
    @include media-breakpoint-only(md) {
      column-count: 3;
    }
    @include media-breakpoint-only(sm) {
      column-count: 2;
    }
    @include media-breakpoint-only(350) {
      column-count: 1;
    }
    
  }

  .card{
      height: 350px;
  }
  h5{
      font-size: smaller;
  }
  img{
      height: 250px;
  }